@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.home {
  content: url(../../media/home.png); }

.maps {
  content: url(../../media/maps.png); }

.phone {
  content: url(../../media/phone.png); }

.mail {
  content: url(../../media/mail.png); }

.navbar {
  background-color: #242424; }
  .navbar .nav__listItem__activo {
    color: #fff;
    background-color: #212529;
    border-bottom: 2px solid #FF4343;
    box-shadow: -1px 0px 1px 1px #FF4343;
    transition: 0.3s linear; }
  .navbar .nav__listItem {
    padding: 0px 5px 0px 5px; }
    .navbar .nav__listItem .nav__listItem__a {
      border-bottom: 2px solid #222;
      color: #fff; }
    .navbar .nav__listItem .nav__listItem__a:hover {
      background-color: #212529;
      color: #fff;
      border-bottom: 2px solid #FF4343;
      box-shadow: 0px 7px 5px -4px rgba(255, 67, 67, 0.322);
      transition: 0.3s linear; }

.background {
  background: url(../media/background.jpg) center center no-repeat;
  height: 550px;
  display: grid;
  grid-template-areas: "seccionPrincipal" "button";
  grid-template-columns: 12fr;
  grid-template-rows: 7fr 1fr 2fr;
  align-items: center;
  justify-items: center; }
  .background .background__seccionPrincipal {
    grid-area: seccionPrincipal;
    text-align: center;
    color: white;
    --bs-gutter-x: 0; }
    .background .background__seccionPrincipal .background__seccionPrincipal__estiloTitulo {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 30px 30px 50px 30px; }
      .background .background__seccionPrincipal .background__seccionPrincipal__estiloTitulo .background__seccionPrincipal__estiloTitulo__h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 500%;
        letter-spacing: 10px; }
      .background .background__seccionPrincipal .background__seccionPrincipal__estiloTitulo .background__seccionPrincipal__estiloTitulo__subtitulo {
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 150%;
        font-weight: 200px; }

main {
  font-family: "Montserrat", sans-serif; }
  main .row {
    --bs-gutter-x: 0rem; }
  main .main__seccion--par {
    text-align: center;
    padding-top: 2%;
    background-color: #f3f3f3; }
  main .main__seccion--impar {
    text-align: center;
    padding: 2% 0 3% 0;
    background-color: #f3f3f3; }
  main .main__h2 {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 3%;
    color: black; }
  main .main__h3 {
    margin: 5% 0% 5% 0%;
    font-weight: bolder;
    color: #2b2b2b;
    font-size: 150%; }

.mainCajas {
  padding-bottom: 15px; }
  .mainCajas .mainCajas__caja {
    box-shadow: 0px 0px 6px 1px #E9C591;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    height: 315px;
    width: 290px;
    text-align: left;
    padding: 15px; }

.newsletter {
  padding: 7rem 0;
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  color: white; }
  .newsletter .newsletter__btn {
    color: #FF4343;
    border: solid 2px #FF4343;
    padding: 0.6rem;
    margin: 4px;
    background: none;
    font-style: bold; }
  .newsletter .newsletter__btn:hover {
    color: #fa7e7e;
    border: solid 2px #fa7e7e;
    padding: 0.6rem; }
  .newsletter .newsletter__email {
    width: 70%;
    padding: 0.6rem; }

.productosInicio {
  justify-items: center;
  align-items: center; }
  .productosInicio .productosInicio__img {
    height: 250px;
    width: 300px;
    padding: 1%;
    transition: 0.3s linear; }
  .productosInicio .productosInicio__img:hover {
    transform: scale(1.1, 1.1);
    border-radius: 12pt; }
  .productosInicio .productosInicio__shopOnline {
    grid-area: shopOnline;
    display: grid; }

footer {
  background-color: #212529;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 4rem 0;
  justify-items: left;
  align-items: left; }
  footer .row {
    --bs-gutter-x: 0rem; }
  footer .col-md-3 {
    padding: 1.3rem; }
  footer .footer__ul {
    list-style: none;
    padding-left: 0px; }
    footer .footer__ul .footer__ul__a {
      text-decoration: none;
      color: white; }
    footer .footer__ul .footer__ul__a:hover {
      text-decoration: underline; }
  footer .footer__h2 {
    color: #E9C591;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  footer img {
    width: 35px;
    height: 35px;
    justify-content: center;
    margin: 2px; }

.form {
  width: 40vw;
  padding: 30px;
  border-radius: 10px; }
  .form .form__label {
    width: 180px;
    display: inline-block; }
  .form .form__input, .form .form_input--casillaPequeña, .form .form__textarea, .form .form_button {
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0px;
    display: inline-block; }
  .form .form_input--casillaPequeña {
    width: 200px;
    padding: 3px 10px; }
  .form .form__textarea {
    padding: 10px 0px 0px 10px; }
  .form .form_button {
    padding: 3px 10px;
    border: 1px #f6f6f6; }
  .form .form_button--submit:hover {
    background-color: #4d8b32;
    transition: 0.2s linear;
    color: white; }
  .form .form_button--reset:hover {
    background-color: #e2b80f;
    transition: 0.2s linear;
    color: white; }

.button__general {
  padding: 10px;
  align-items: center;
  border: none;
  background-color: #e53236; }
  .button__general .button__general__a {
    text-decoration: none;
    color: white; }
  .button__general .button__general__a:hover {
    color: white; }

.button__general--productos {
  margin-top: 15px; }

.button__general:hover {
  color: white;
  background-color: #ee585a; }

.mainContacto {
  padding-bottom: 5%; }

.tiendaOnline {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 20px;
  align-items: start;
  padding: 3% 8% 3% 8%; }
  .tiendaOnline .tiendaOnline__microorganismo {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }
  .tiendaOnline .tiendaOnline__microorganismo__img {
    max-width: 100%; }
  .tiendaOnline .tiendaOnline__microorganismo__texto {
    padding: 0 20px 20px; }
    .tiendaOnline .tiendaOnline__microorganismo__texto .tiendaOnline__microorganismo__texto__h3 {
      font-weight: 800;
      padding: 1%; }

.paginasLegales {
  margin-bottom: 5%; }
