*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./layout/_header";
@import "./layout/home";
@import "./layout/footer";
@import "./layout/forms";
@import "./components/buttons";
@import "./views/contact";
@import "./views/shop.scss";
@import "./views/paginasLegales";
@import "./views/404";