// TITULO H1
$title-font: 'Bebas Neue', sans-serif;
$title-size: 500%;
$title-style: 10px;
// SUBTITULO
$subtitle-font: 'Montserrat', sans-serif;
$subtitle-size: 150%;
$subtitle-weight: 200px;
// COLORES
$background-title:black;
$font-color-footer: #F7CB15;
$color-activo-nav: #F7CB15;
$color-button-principal:#e53236; 
$color-hover:#ee585a;
$color-texto-general: white;
$background-nav: white;
$seccion-par-background: linear-gradient(to top, #4A6C6F, #869a9c);
$seccion-inpar-background: radial-gradient(to top,#869a9c, #e2eff0);
$color-button-submit: #4d8b32;
$color-button-reset: #e2b80f;
// TIPOGRAFIAS BASE
$general-font: 'Montserrat', sans-serif;
    // ESTILOS H2
    $h2-size:4vh;
    $h2-size-footer:3vh;
    $h2-weight: 800;
// CONDICIONALES
    // Iconos contacto Footer
    @each $icono in home, maps, phone, mail{
        .#{$icono}{
            content: url(../../media/#{$icono}.png)
        }
    }
