// TITULO H1
$title-font: 'Bebas Neue', sans-serif;
$title-size: 500%;
$title-style: 10px;
// SUBTITULO
$subtitle-font: 'Montserrat', sans-serif;
$subtitle-size: 150%;
$subtitle-weight: 200px;
// PALETA DE COLORES
$main-color: #E9C591;
$second-color: #4CB2FA;
$third-color: #FF4343;
$third-color-ligth:#fa7e7e; 
$third-color-dark: #823338;
// COLORES EXTRA
$background-title:rgba(0, 0, 0, 0.6);
$color-button-principal:#e53236; 
$color-hover:#ee585a;
$color-texto-general: white;
$background-nav: #242424;
$color-button-submit: #4d8b32;
$color-button-reset: #e2b80f;
// TIPOGRAFIAS BASE
$general-font: 'Montserrat', sans-serif;
    // ESTILOS H2
    $h2-size:150%;
    $h2-size-footer:150%;
    $h2-weight: 800;
// CONDICIONALES
    // Iconos contacto Footer
    @each $icono in home, maps, phone, mail{
        .#{$icono}{
            content: url(../../media/#{$icono}.png)
        }
    }
