// FOOTER
footer{
    background-color: rgb(33,37,41);
    color:$color-texto-general;
    font-family: $general-font;
    padding: 4rem 0;
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }
    .row {--bs-gutter-x: 0rem;}
    .col-md-3{
        width: 25%;
        padding: 1.3rem
    }
    .footer__ul {
        list-style: none;
        padding-left: 0px;
        .footer__ul__a{
            text-decoration: none;
            color:$color-texto-general
        }
        .footer__ul__a:hover{
            text-decoration: underline;
            color: $color-texto-general
        }
    }
    .footer__h2{
        color: $main-color;
        font-family: $general-font;
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
        font-size: 1.3rem;
    }
    img{
        width: 40px;
        height: 40px;
        justify-content: center;
        margin:8px
    }
}