// HEADER Y NAVEGACIÓN
.navbar{
    background-color: $background-nav;
    .nav__listItem__activo{
        color: #fff;
        background-color: #212529;
        border-bottom: 2px solid $third-color;
        box-shadow: -1px 0px 1px 1px #FF4343;
        transition: 0.3s linear
    }
    .nav__listItem{
        padding: 0px 5px 0px 5px;
        .nav__listItem__a{
            border-bottom: 2px solid #222;
            color:#fff
        }
        .nav__listItem__a:hover{
            background-color: #212529;
            color:#fff;
            border-bottom: 2px solid $third-color;
            box-shadow: 0px 7px 5px -4px rgba(255,67,67,0.322);
            transition: 0.3s linear;
        }
    }
}