// BUTTONS
.button__general{
    padding: 10px;
    align-items: center;
    .button__general__a{
        text-decoration: none;
        color:white;
    }
    .button__general__a:hover{
        color:white
    }
}
.button__general:hover{
    color:white;
    background-color:$color-hover ;
}